@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ewert&family=Parisienne&family=Press+Start+2P&family=Rye&display=swap');

.video-wrap {
    position: relative;
    border:solid 1px #000000;
    width:1280px;
    height:720;
}

#remote_video {
    position: absolute; 
    z-index: 1;
}

#local_video {
    position: absolute;
    z-index: 3;
}

#can {
    position: absolute;
    z-index: 2;
}

#pointValueMe {
    color: #7fff00;
    font-family: 'Rye', cursive;
    font-size: 20px;
}

#pointValueEn {
    color: #ff1493;
    font-family: 'Rye', cursive;
    font-size: 20px;
}