@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ewert&family=Parisienne&family=Press+Start+2P&family=Rye&display=swap');

.video-wrap {
    position: relative;
    border:solid 1px #000000;
    width:1280px;
    height:720px;
}

#remote_video {
    position: absolute; 
    z-index: 1;
    width: 2160px;
    height: 3840px;
}

#local_video {
    position: absolute;
    z-index: 3;
}

#can {
    position: absolute;
    z-index: 2;
}

h1 {
    margin: auto auto;
    text-align: center;
}

#uTime {
    margin: auto auto;
    text-align: center;
    font-size: 60px;
}

#uppercolmn {
    margin: auto auto;
    text-align: center;
    background: orange;
    font-size: 50px;
}

#pointValueMe {
    margin: auto auto;
    text-align: center;
    color: #7fff00;
    font-family: 'Rye', cursive;
    font-size: 80px;
    border-bottom: solid;
    border-color: #7fff00;
    border-width: 0px;
}

#pointValueEn {
    margin: auto auto;
    text-align: center;
    color: #ff1493;
    font-family: 'Rye', cursive;
    font-size: 80px;
    border-bottom: solid;
    border-color: #ff1493;
    border-width: 0px;
}
