<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>どこでもお絵かき</title>
    <meta name="viewport" content="width=device-width,init-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body onload="mam_draw_init();">
    <h1>どこでもお絵かき</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>日時</th>
                <th>ScoreA地点</th>
                <th>ScoreB地点</th>
            </tr>
        </thead>
        {{range .a}}
        <tr>
            <th>{{.ID}}</th>
            <th>{{.CreatedAt}}</th>
            <th>{{.ScoreA}}</th>
            <th>{{.ScoreB}}</th>
        </tr>
        {{end}}
    </table>
    
</body>
</html>
